[submodule "transforms"]
	path = transforms
	url = https://github.com/commoncriteria/transforms.git
[submodule "ci-scripts"]
	path = ci-scripts
	url = https://github.com/commoncriteria/ci-scripts.git
